@import "tailwindcss";

@theme {
  --color-primary: #9e1b32;
  --color-primary-dark: #7a1223;
}
/* @layer base {
  ::selection {
    @apply bg-primary text-white;
  }
} */
@layer components {
  .hover-diagonal-bg {
    @apply relative
      z-10
      transition-all
      duration-300
      before:content-['']
      before:absolute
      before:inset-0
      before:bg-primary-dark
      before:origin-left
      before:scale-x-0
      hover:before:scale-x-100
      before:transition-transform
      before:duration-300
      before:-z-10;
  }
  .h2-aviso-legal {
    @apply text-2xl font-bold text-primary underline;
  }
  .p-aviso-legal {
    @apply text-justify my-4;
  }
  ::selection {
    @apply bg-primary text-white;
  }
}
